#!/bin/bash

# Update package list
sudo apt-get update

# install C complier in Ubuntu, if absent uwsgi installation fails
sudo apt-get -y install gcc

# Install nginx
sudo apt-get install -y nginx

# Install Python3 virtualenv
sudo apt-get install -y python3-venv

# Install Python development package
sudo apt-get install -y python3-dev

# Install uwsgi
sudo apt-get install -y uwsgi uwsgi-plugin-python3

# Create directory /var/log/uwsgi
mkdir -p /var/log/uwsgi

# Change permissions to read/write for /var/log/uwsgi
sudo chmod -R 777 /var/log/uwsgi

## Install aws codedeploy agent
apt install ruby-full wget -y
cd /home/ubuntu
wget https://aws-codedeploy-us-west-2.s3.us-west-2.amazonaws.com/latest/install
chmod +x ./install
./install auto